body {
    background-color: silver;
}

h1 {
    color: tomato;
    padding: 20px;
    text-align: center;
    
}
h3 {
    color: tomato;

}
p {
    color: tomato;

}
img {
    max-width:80%;
    margin: auto;
    display: block;
    
}